/*
Auto watering settings.
Copyright (C) 2023 Mathieu ABATI <mathieu.abati@gmail.com>

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*/

#ifndef __CONFIG_H__
#define __CONFIG_H__

/*
 * Wifi
 */

// WiFi hotspot name
#define WIFI_ESSID ""

// WiFi password
#define WIFI_PASSWORD ""

/*
 * Valves
 */

// Number of installed valves
#define VALVE_NUMBER 5

// GPIO pins numbers for each valve
int VALVE_GPIO[VALVE_NUMBER] = {
  5, // valve 1
  18, // valve 2
  19, // valve 3
  21, // valve 4
  22, // valve 5
  // 23 // valve 6
};

/*
 * Watering settings
 */

// Maximum number of cycles per day
#define MAX_START_PER_DAY 2

// Is valves force ON setting persistent accross reboots?
#define FORCE_ON_PERSISTENT false

// Timezone
#define TIMEZONE "CET-1CEST,M3.5.0,M10.5.0/3" // Europe/Paris

/*
 * Web GUI settings
 */

// User language (LANG_FR, LANG_EN)
#define LANG_FR // french

#endif
